
.parent{
       -fx-background-image:url(../Image/back.jpg); 

}
.pane{
       -fx-background-color:transparent ;

   
}
.trans-btn-white-border{
    -fx-background-color: transparent;
    -fx-background-radius:30px;
    -fx-border-color: white;
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
}
.white-pane{
    -fx-background-color: #ffffff;
}
.blue-panel{
    -fx-background-color: #151928;
}

.tf{
    -fx-background-color: transparent; 
    
}
.blue-btn{
    -fx-border-radius: 30px;
    -fx-border-width: 1px;
    -fx-background-color: #2196f3;
    -fx-background-radius: 5px;
}

.paneforgetpass{
    
    -fx-background-radius:15px; 
    -fx-border-radius: 15px; 
    
}
.txtinput{
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-cursor: text;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}


.ttfocus :focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color: 
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}